{% import "_includes/forms" as forms %}

{{ forms.textField({
    label: "Corp Id"|t('dingtalk'),
    name: "corpId",
    value: settings.corpId,
    required: true
}) }}

{{ forms.textField({
    label: "Corp Secret"|t('dingtalk'),
    name: "corpSecret",
    value: settings.corpSecret,
    required: true
}) }}

{{ forms.lightSwitchField({
    label: "Show Contacts section on CP"|t('dingtalk'),
    name: "showContactsOnCpSection",
    on: settings.showContactsOnCpSection
}) }}

<a href="{{ url('dingtalk/robots') }}">{{ 'Robots Settings'|t('dingtalk') }}</a>