{% extends "dingtalk/_layouts/settings" %}

{% set selectedItem = 'general' %}
{% set settings = craft.dingtalk.settings %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ 'General Settings'|t('dingtalk') }}</h2>

    <form method="post" accept-charset="UTF-8">
        <input type="hidden" name="action" value="dingtalk/settings/save-settings">
        {{ csrfInput() }}

        {% namespace 'settings' %}
            {{ forms.textField({
                label: "CP Section Name"|t('dingtalk'),
                id: 'cpSectionName',
                name: 'cpSectionName',
                value: settings.cpSectionName,
                errors: settings.getErrors('cpSectionName'),
            }) }}

            {{ forms.autosuggestField({
                label: "Callback Rule"|t('dingtalk'),
                id: 'callbackRule',
                name: 'callbackRule',
                value: settings.callbackRule,
                errors: settings.getErrors('callbackRule'),
                suggestEnvVars: true,
            }) }}
        {% endnamespace %}

        <button class="btn submit">{{ 'Save'|t('app') }}</button>
    </form>

{% endblock %}