{% extends "_layouts/cp" %}

{% set selectedSubnavItem = 'contacts' %}
{% set fullPageForm = true %}
{% set crumbs = [
    {label: "DingTalk"|t('dingtalk'), url: url('dingtalk')},
    {label: "Contacts"|t('dingtalk'), url: url('dingtalk/contacts')},
] %}
{% set tabs = [
    {label: "Settings"|t('dingtalk'), url: '#settings'},
    {label: "Labels"|t('dingtalk'), url: '#labels'},
    {label: "Share Scopes"|t('dingtalk'), url: '#shares'},
] %}

{% set isNewContact = contact.id ? false : true %}

{% import "_includes/forms" as forms %}

{% block actionButton %}
    <div class="btngroup">
        <input type="submit" class="btn submit" value="{{ 'Save'|t('app') }}">
        <div class="btn submit menubtn"></div>
        <div class="menu">
            {% if not isNewContact %}
                <hr>
                <ul>
                    <li><a class="formsubmit error" data-action="dingtalk/contacts/delete-contact" data-confirm="{{ 'Are you sure you want to delete this contact?'|t('dingtalk') }}" data-redirect="{{ 'dingtalk/contacts#'|hash }}">{{ 'Delete'|t('app') }}</a></li>
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block content %}
    <input type="hidden" name="action" value="dingtalk/contacts/save-contact">
    <input type="hidden" name="contactId" value="{{ contact.id }}">
    <input type="hidden" name="corporationId" value="{{ contact.corporationId }}">
    {{ redirectInput('dingtalk/contacts') }}

    <div id="settings">

        {{ forms.textField({
            label: "Name"|t('dingtalk'),
            required: true,
            id: "name",
            name: "name",
            value: contact.name,
            errors: contact.getErrors("name"),
        }) }}

        {{ forms.textField({
            label: "Mobile"|t('dingtalk'),
            required: true,
            id: "mobile",
            name: "mobile",
            value: contact.mobile,
            errors: contact.getErrors("mobile"),
        }) }}

        {{ forms.elementSelectField({
            label: "Follower"|t('dingtalk'),
            required: true,
            id: "followerId",
            name: "followerId",
            elements: contact.followerId ? [contact.follower] : [],
            errors: contact.getErrors('followerId'),
            elementType: "panlatent\\craft\\dingtalk\\elements\\User",
            sources: ['corporation:' ~ contact.corporationId],
            limit: 1,
        }) }}

        {{ forms.textField({
            label: "Position"|t('dingtalk'),
            id: "position",
            name: "position",
            value: contact.position,
            errors: contact.getErrors("position"),
        }) }}

        {{ forms.textField({
            label: "State Code"|t('dingtalk'),
            id: "stateCode",
            name: "stateCode",
            value: contact.stateCode,
            errors: contact.getErrors("stateCode"),
        }) }}

        {{ forms.textField({
            label: "Company Name"|t('dingtalk'),
            id: "companyName",
            name: "companyName",
            value: contact.companyName,
            errors: contact.getErrors("companyName"),
        }) }}

        {{ forms.textField({
            label: "Address"|t('dingtalk'),
            id: "address",
            name: "address",
            value: contact.address,
            errors: contact.getErrors("address"),
        }) }}

        {{ forms.textField({
            label: "Remark"|t('dingtalk'),
            id: "remark",
            name: "remark",
            value: contact.remark,
            errors: contact.getErrors("remark"),
        }) }}
    </div>

    <div id="labels" class="hidden">

        {% include "dingtalk/_includes/contactlabels" with {
            corporationId: contact.corporationId,
            contact: contact,
            errors: contact.getErrors('labels'),
        } only %}

    </div>

    <div id="shares" class="hidden">

        {% include "dingtalk/_includes/departments" with {
            corporationId: contact.corporationId,
            name: "shareDepartmentIds",
            values: contact.shareDepartments,
        } only %}

        {{ forms.elementSelectField({
            label: "Users"|t('dingtalk'),
            id: "shareUsers",
            name: "shareUsers",
            elements: contact.shareUsers,
            errors: contact.getErrors('shareUsers'),
            elementType: "panlatent\\craft\\dingtalk\\elements\\User",
            sources: ['corporation:' ~ contact.corporationId],
        }) }}

    </div>

{% endblock %}